$primary-blue: #193A6A;
$dark-blue: #0D2442;
$light-bg: #F1EFEF;

.banner {
  width: 925px;
  height: 402px;
  margin: 20px auto;
  background-image: image-url("casa.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin-top: -150px;

  img {
    width: 50px;
    height: 40px;
  }
}

.site-title-banner {
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.search-bar-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  margin: auto;
}

.search-bar {
  flex: 1;
  padding: 12px 15px;
  border-radius: 8px 0 0 8px;
  border: none;
  font-size: 16px;
  width: 770px;
}

.search-button {
  padding: 12px 20px;
  border-radius: 0 8px 8px 0;
  border: none;
  background-color: #0A3666;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #3F72AF;
}
