$primary-color: #193A6A;
$background-footer: #DBE2EF; 
$hover-dark: #0D2442;
$link-color: #193A6A;
$border-light: #D8D8D8;


.custom-footer {
  background-color: $background-footer;
  padding: 30px 0;
  border-top: 1px solid $border-light;
  color: $primary-color;
}

.footer-title {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: $hover-dark;
}


.logo {
  width: 45px;
}

.footer-links li {
  list-style: none;
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: $link-color;
  font-weight: 400;
  transition: color 0.3s ease;

  &:hover {
    color: $hover-dark;
  }
}

.footer-search .footer-input {
  border-radius: 50px 0 0 50px;
  border-color: $primary-color;
  padding: 8px 18px;
  height: auto;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.25);
  }
}

.footer-search-btn {
  background-color: $primary-color;
  color: white;
  border-radius: 0 50px 50px 0;
  padding: 8px 22px;
  border: 1px solid $primary-color;
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-dark;
    border-color: $hover-dark;
    color: white;
  }
}

.footer-icon {
    font-size: 1.5rem;
    color: $primary-color;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
        color: $hover-dark;
    }
}
