@import "shared/navbar";
@import "shared/footer";
@import "shared/banner";
@import "shared/cards";
@import "shared/show";
@import "shared/form";

html, body {
  height: 100%;
  margin: 0;
  color: #0D2442 !important;
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
